h1 {
  text-align: center;
  font-family: 'Aldrich', sans-serif;
}
#boop {
  height:340px;
  overflow-y: scroll;
}
#HAL {
  width:100%;
}
.screen {
  background-image: url("../img/background-panel.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  font-family: courier;
  color: #3DB973;
  padding:60px;
  font-size:16px;
}
label {
  display: inline-block;
}
input[class="form-control"] {
  width: 200px;
}
input[type="text"] {
  color:black;
}
button {
  margin-bottom: 20px;
  margin-top: 5px;
  color: black;
}
body {
  background-image:url("../img/stars.gif");
}
.jumbotron {
  height: 100px;
  padding-top:1px;
}
ul {
  list-style-type: none;
}
.bubble {
  border: 2px solid #C3C3C3;
  background-color: #C3C3C3;
  border-radius: 12px;
  font-family: 'Bangers', cursive;
  font-size: 30px;
  padding: 10px;
}
.shrink {
  width:150px;
}
.initial-hide {
  display:none;
}
